@import "tailwindcss";

@theme {
  --color-brand-purple: #6b21a8;
  --color-brand-light: #f3e8ff;
  --color-brand-accent: #ec4899;
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900;
}
